.popup__alert-success {
  background-image: url("../../../images/popup__alert-success.svg");
  margin: 60 auto 0;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
}