.profile__edit {
    margin-left: 18px;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    background-image: url('../../../images/profile__edit.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.profile__edit:hover {
    opacity: .6;
}

@media screen and (max-width: 425px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        background-size: 7.5px;
    }
}